<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <title>Cornell-note</title>
        <link rel = "stylesheet" href = "/css/welcome.css">
    </head>
    <body>
        <div class = "home">

            <header class="masthead">
                    <div class="masthead-subheading">Welcome To Cornell Note Web App!</div>
                    <div class="masthead-heading text-uppercase">Starting your note here</div>
                    <div class = "buttons">
                        <form action = "/login">
                            <button class = "btn btn-primary btn-xl" type = "submit">Login here</button>
                        </form> 
                        <br>
                        <form action = "/register" method = "get">
                            <button class = "btn btn-primary btn-xl" type = "submit">Don't have an account? Register here</button>
                        </form>
                    </div>
            </header>
            <div class = "container-fluid container-head">
                <div class = "image-content">
                    <img class = "profile" src = "profile.jpeg">
                </div>
                <div class = "text-content">
                    <h2 class = "name-head"> Thuan Pham </h2>
                    <p class = "text-head"> Full-Stack Web Developer - Software Engineer - Machine Learning </p>
                </div>
            </div>
        </div>
         
    </body>
</html>